*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.navigation{
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    background-color: rgba(0, 0, 0, 0.479);
}
.header{
    display: flex;
    flex-direction: row;
    flex: 1.3 0 0;
    justify-content: center;
    align-items: center;
    font-family: 'Slabo 13px';
}
.header > p {
    font-size: 40px;
    flex: 2 0 0;
}
.header > img {
    flex : 1 0 0;
}
.sub-header{
    flex: 7 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 13px;
    cursor: pointer;
    font-family: 'Slabo 13px';
}
.sub-header > div {
    display: flex;
    flex-direction: row;
}
.sub-header-text {
    flex: 2 0 0;
    font-size: 24px;
}
.sub-header-text:hover{
    text-decoration: underline;
}
.sub-header > div > img {
    flex: 1 0 0;
}
.project-section {
    flex: 3.8 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.new-project-add{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.new-project-add > p{
    display: flex;
    flex-direction: column;
    letter-spacing: 1.3px;
    gap: 3px;
    font-family: 'Roboto';
}
.new-project-add label{
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: grey;
}
.new-project-add input{
    outline: none;
    width: 250px;
    height: 25px;
    padding-left: 6px;
    font-size: 16px;
    border-radius: 3px;
    border-width: 1px;
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 14px;
}
.button > button{
    flex: 1 0 0;
    height: 28px;
    font-size: 18px;
    color: black;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}
.project {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
}
.p-1{
    display: flex;
    width: 15%;
    height: 30%;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.527);
    padding: 15px;
    border-radius: 5px;
}
.project-title {
    flex: 4 0 0;
    font-size: 30px;
    align-self: center;
    font-family: 'Slabo 13px';
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba(0, 0, 0, 0.418);
}
.project-title + div{
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.project-title + div > button{
    border-width: 0;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 20px;
    cursor: pointer;
    height: 32px;
}
.project-todos{
    display: none;
}
.todos {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
}
.todo-header{
    display: flex;
    flex-direction: row;
    gap: 14px;
}
.todo-header > p {
    flex: 2.5 0 0;
    font-family: 'Roboto';
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.377);
    padding-left: 10px;
}
.todo-header > button {
    flex: 1 0 0;
    font-family: 'Roboto';
    font-size: 30px;
    border-width: 0;
    background-color: rgba(0, 0, 0, 0.377);
    cursor: pointer;
}
.todo{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.377);
}
.todo-start-show {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.todo-status{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.4 0 0;
}
.todo-status > div {
    border: 1px solid black;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgba(11, 255, 11, 0.39);
}
.todo-about{
    display: flex;
    flex-direction: row;
    flex: 3 0 0;
    align-items: center;
}
.todo-name {
    flex: 2 0 0;
    font-size: 25px;
    font-family: "Roboto";
}
img[title='view']{
    flex: 1 0 0;
}
.todo-about + div {
    display: flex;
    flex: 0.5 0 0;
}
.todo-info{
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    padding: 14px;
}
.todo-info-description{
    flex: 5 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.description-label {
    font-size: 14px;
    font-family: "Roboto";
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.377);
}
.description-text{
    font-family: "Roboto";
    font-size: 16px;
}
.numerical-data {
    display: flex;
    flex-direction: column;
    flex: 2 0 0;
}
.todo-info-duedate {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}
.duedate-label{
    flex: 1 0 0;
    font-size: 14px;
    font-family: "Roboto";
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.377);
}
.duedate {
    flex: 2 0 0;
    font-size: 16px;
    font-family: "Roboto";
}
.todo-info-priority{
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}
.priority-label {
    flex: 1 0 0;
    font-size: 14px;
    font-family: "Roboto";
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.377);
}
.priority{
    font-size: 16px;
    font-family: "Roboto";
}
.todo-add-form{
    display: none;
    height: 100%;
}
.todo-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.todo-form > p{
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    justify-content: start;
    gap: 4px;
}
.todo-form > p > label {
    flex: 2 0 0;
    font-family: "Roboto";
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.377);
}
.todo-form > p > input {
    flex: 1 0 0;
    font-family: "Roboto";
    padding: 10px;
    font-size: 18px;
}
.todo-form > p > input:focus {
    outline: none;
}
textarea{
    resize: none;
    font-family: "Roboto";
    font-size: 18px;
    padding: 10px;
}
textarea:focus {
    outline: none;
}
#button{
    display: flex;
    flex-direction: row;
}
#button > button {
    flex: 1 0 0;
    font-family: "Roboto";
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.377);
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
}
.todo-info {
    display: none;
    flex-direction: row;
}
